
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    display: inline;
    color: black;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100vw; /* Ocupa todo el ancho de la ventana */
    height: 100vh; /* Ocupa todo el alto de la ventana */
    background: url('../assets/bg.jpg') no-repeat center center fixed; /* Imagen centrada y fija */
    background-size: cover; /* Escala la imagen para cubrir todo el espacio */
}

header{
    width: 100%;
    height: 140px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
}

header .header-icons-container{
    width: 100%;
    height: 50px;
    display: grid;
    background-color: #215ae1;
}

header .header-icons-container .icons{
    width: 300px;
    height: auto;
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: space-between;
    justify-self: end;
    margin-right: 50px;
}

header .icons span{
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

nav .nav-logo-container{
    margin-left: 50px;
}

nav .nav-logo-container img{
    width: 220px;
}

nav .profile-link{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 50px;
}

nav .profile-link a {
    color: white;
    border-bottom: 1px solid white;
}

.blogs-main{
    display: grid;
}

.blogs-news-container{
    background-color: #e6e9ed;
    padding: 20px 50px 40px;
}

.blogs-main-new{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 2fr;
}

.blogs-main-new h3{
    margin: 10px;
}

.blogs-news-img-container{
    grid-column: 1;
}

.blogs-news-img-container img{
    width: 85%;
}

.blogs-news-info-container{
    grid-column: 2;
}

.blogs-news-info-container p{
    grid-column: 2;
    margin: 20px 0;
    line-height: 1.5;
    margin-bottom: 30px;
}



.blogs-button{
    border: 1px solid #215ae1;
    padding: 10px 15px;
    margin-left: 10px;
    font-size: 12px;
}

.blogs-button:hover{
    background-color: #215ae1;
    color: white;
}

.blogs-posts-container{
    padding: 0 50px 40px;
    margin: 0 auto;
    width: 80%;
}

.grid-container{
    max-width: 980px;
    margin: auto;
}

.blogs-posts-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 20px;
    text-align: center;
    margin-top: 20px;
    color: white;
}

.blogs-posts-container .post-container{
    display: inline-block;
    max-width: 30%;
    margin-bottom: 50px;
    margin-top: 20px;
    box-shadow: 2px 4px 8px rgba(32, 45, 75, 0.6);
    min-height:500px ;
    margin-left: 20px;
    background-color: white;
}

.post-container h3{
    color: black;
}

.blogs-posts-container .post-container p{
    margin-bottom: 25px;
    margin-top: 10px;
    padding: 5px;
}

.blogs-posts-container .post-container .btn{
    display: inline-block;
    width: 120px;
    padding: 10px;
    background-color: #215ae1;
    text-align: center;
    color: white;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 5px;
}

.blogs-posts-container .post-container p a{
    color: #215ae1;
}
.blogs-posts-container .post-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}

footer{
    width: 100%;
    height: 120px;
    background-color: #22272d;
    border-top: 35px solid #215ae1;
    text-align: center;
}

footer p{
    color: white;
    margin-top: 30px;
}

/*Estilos de blog*/

.blogpost-img-container{
    padding: 0 50px 40px;
}

.blogpost-img-container img{
    width: 100%;

}

.blogpost-main-container{
    padding: 0 50px 40px;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
}

.blogpost-main-container h3{
    border-bottom: 1px solid #cdd2da;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.blogpost-main-container article h1{
    margin: 10px 0;
    font-size: 37px;
}

.blogpost-main-container article p{
    line-height: 1.5;
}

.contact-main-container{
    width: 100%;
    min-height: 250px;
    background-color: #e6e9ed;
    text-align: center;
    padding-bottom: 50px;
}

.contact-main-container div {
    display: inline-block;
    width: 49.5%;
    height: 100%;    
    padding-top: 10px;
}

.contact-main-container div a {
    display: inline-block;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
    padding-top: -10px;
}
.contact-main-container img{
    width: 100px;
    margin: 0 10px;
}

.contact-main-container  .contact-left, .contact-right{
    text-align: initial;
    margin-top: 85px;
}

/*Estilos de perfil*/

.profile-main-container{
    padding: 70px 40px;
    background-color: #e6e9ed;
    margin-bottom: 50px;
}

.profile-main-container img{
    width: 220px;
    margin-right: 30px;
}

.profile-main-container .profile-container{
    display: flex;
}

.profile-main-container .profile-container h2{
    margin: 10px 0;
    font-size: 30px;
}

.profile-main-container .profile-container p{
    line-height: 1.2;
    margin-bottom: 10px;
}
